<div id="collection-alert" class="mb-3 col-md-12 banner-wrapper banner-alternative d-flex flex-row">
  <div class="banner-part banner-heading">
    <%= blacklight_icon :exclamation_triangle_solid %>
    <span class="banner-heading-text d-none d-lg-inline pr-4">
      <%= "Please Note" %>
    </span>
  </div>
  <div class="banner-part banner-shadow"></div>
  <div class="banner-part banner-message flex-grow-1">
    <div class="mb-0 banner-message-text p-2">
      <%= render_html_tags(value: @document.accessrestrict_collection_banner) %>
    </div>
  </div>
</div>
