/.bundle

/.docker/upload
/.docker/downloads
/.docker/.env

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/.vegas/*

.bash_history
.gem

/.cache/*

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/vendor/bundle

# rspec failure tracking
.rspec_status

/resque_web
/solr/arclight/data
